.links {
  display: flex;
  gap: 3px;
}
.container {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  width: 1024px;
  align-items: center;
}
.navbar {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid gray;
  box-shadow: 1px 0.5px 0.5px rgb(187, 186, 186);
  background-color: rgb(226, 220, 209);
  position: fixed;
  top: 0;
  width: 100%;
}
.nav-link {
  text-decoration: none;
  color: white;
}
.logo {
  width: 30px;
}
button {
  border-radius: 5px;
}
